.event-list{
    display: flex;
    
    flex-wrap: wrap;
} 

@media  (min-width: 640px) {
    .child {
      width: calc(30% - 10px);
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media (min-width: 940px) {
    .child {
      width: calc(20% - 10px)
    }
  }
